@import url("fonts.css");

html, body {
  padding: 0; margin: 0;
  background: #161616;
  font: 300 16px/1.5 'museo-sans', 'Open Sans', sans-serif;
  color: #000;
  text-align: center;
}

p { margin: 14px auto; }
*, *:hover, *:active, *:focus, *:visited { outline:0; overflow: none; }

/* Navigation */
.nav * {
    text-transform: uppercase;
    font-size: 30px;
    margin: 12px auto;
}

/* Website Heading */
.heading-name {
  text-align: center;
  background-image: url(../bg.jpg);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: arial;
  padding: 5em 1em 5em;
  background-attachment: fixed;
  background-position: 50% 50%;
}

/* Section Headings */
.heading-name h1 {
    font-size: 35px;
    font-weight: bold;    
    padding:0 0 .5em 0;
}

.design-for h1, .features h1, .team h1, .connect a {
    text-transform: uppercase;
    font-size: 30px;
    margin: 12px auto;
}

/* Design Section */
.design-for {
    background-color: #48a6f9;
    padding: 10px 10%;
    letter-spacing: 1px;
}

.design-for h1 {
    color: #fff;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

/* Features Section */
.features {
    padding: 10px 10%;
    letter-spacing: 1px;
    background-color: #d13360;
}

.features h1 {
    color: #fff;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

/* Team Section */
.team {
    padding: 10px 10% 75px 10%;
    letter-spacing: 1px;
    color: #fff;
    font-size: 14px;
}

.team h1 {
    color: #f7de71;
    border-bottom: 4px solid rgba(247, 222, 113, 0.3);
}

.team a {
    color: #ccc;
    text-decoration: underline;
}

.michael {
    background: url(../src/michael.png) no-repeat top center;
}

.name {
    padding-top: 175px;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.38;
    color: #fff;
}

.donate {
  padding: 1em 5em;
  font-size: 1.5em;
  font-family: palatino;
  color: rgba(247, 222, 113, 0.75)!important;
  background: rgba(74, 67, 37, 0.75);
  box-shadow: inset 0px 0px 16px rgba(0,0,0,0.7), 0px 0px 60px #38321f;
  border-radius: 10px;
  text-decoration: none!important;
  text-shadow:
    0px -1px 0px rgba(0,0,0,0.7),
    0px 1px 0px rgba(247,222,113,0.3);
}

.donate:hover {
  color: rgb(247, 222, 113)!important;
  background: rgb(74, 67, 37);
  box-shadow: inset 0px 0px 16px rgba(0,0,0,0.7), 0px 0px 60px rgb(74, 67, 37);
  text-shadow:
    0px -1px 0px rgba(0,0,0,0.7),
    0px 1px 0px rgba(247,222,113,0.3);
}

.donate:active {
  color: rgba(247, 222, 113, 0.5)!important;
  background: rgba(74, 67, 37, 0.5);
  box-shadow: inset 0px 0px 16px rgba(0,0,0,0.7), 0px 0px 60px #1c1a11;
}

/* Connect Section */
.connect {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: auto;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.connect a {
    color: #fff;
    font-size: 20px;
    margin: 15px;
    opacity: 0.5;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.connect a:hover { opacity: 1; }

.left {
    float: left;
    text-align: left!important;
    width: 110px;
}

.right {
    position: absolute; float: right;
    top: 10px; bottom: 10px; left: 120px; right: 10px;
    text-align: right!important;
}

.chrome {
    display: inline-block;
    width: 18px;
}
