body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
#toolbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  z-index: 1;
}
#toolbox > div#tools {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}
#toolbox > div#starter-properties, #toolbox > div#select-properties {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
#toolbox header {
  cursor: pointer;
}
#toolbox button {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
#toolbox table {
  padding: 0;
}
#toolbox table tr td:nth-child(1) {
  padding: 0 .5em 0 0;
}
#toolbox pre {
  display: none;
}
#mirror-code, #toolbox #to-global-css input[type=text], #toolbox #to-global-css textarea, #toolbox #to-global-css select, #hold-media-queries textarea {
  display: none;
}
#toolbox .horizontal-bar {
  display: inline-block;
  padding: 1em 0;
  margin: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#toolbox .hide, .ooobubblez, #media-query-slider, #custom-menu {
  display: none;
}
#toolbox .in-drop-button {
  cursor: pointer!important;
}
#workflow {
  background-color: #fff;
}
#mmd-instruction-dialog-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
#mmd-instruction-dialog {
  display: none;
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  padding: 1em;
  overflow: auto;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

/* Elements For Stage */
#toolbox .elms-4-stage button {
  padding: 0;
  margin: 0;
}
#toolbox .elms-4-stage button {
  display: block;
  cursor: pointer;
}

/* Ruler & Slider */
#ruler-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
  height: 24px;
  overflow: hidden;
}
#ruler {
  width: 100%;
  height: 100%;
}
#ruler > div {
  display: inline-block;
}
#ruler .tickLabel {
  position: relative;
  top: -10px;
  margin-left: 4px;
  width: 1px;
  height: 100%;
  text-indent: 1px;
  line-height: 20px;
}
#ruler .tickLabel:first-of-type {
  margin-left: 0;
}
#ruler .tickMajor {
  margin-top: 19px;
  margin-left: 4px;
  width: 1px;
  height: 6px;
}
#ruler .tickMinor {
  margin-left: 4px;
  width: 1px;
  height: 4px;
}

/* Resize Constructs */
#media-query-slider {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
}
#cwidth-containment {
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
  z-index: 2;
}
#cwidth {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Resize Handlers */
.drag {
  position: absolute;
  border: 1px solid #89B;
  background: #BCE;
  height: 58px; width: 58px;
  top: 120px;
  cursor: move;
}
.handle {
  position: absolute;
}
.NW, .NN, .NE {
  top: -4px;
}
.NE, .EE, .SE {
  right: -4px;
}
.SW, .SS, .SE {
  bottom: -4px;
}
.NW, .WW, .SW {
  left: -4px;
}
.SE, .NW {
  cursor: nw-resize;
}
.SW, .NE {
  cursor: ne-resize;
}
.NN, .SS {
  cursor: n-resize;
  left: 50%;
  margin-left: -4px;
}
.EE, .WW {
  cursor: e-resize;
  top: 50%;
  margin-top: -4px;
}
.selected {
  background-color: #ECB;
  border-color: #B98;
}
.selected .handle {
  background-color: #CA9;
  border-color: #B98;
}

/* Design Area */
#itsthecavnescontainerbro {
  position: absolute;
  top: 25px;
  left: 0;
  right: 300px;
  bottom: 0;
  overflow: auto;
}
#itsthecavnescontainerbro #grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#itsthecavnescontainerbro .canves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px dashed #999;
  overflow: auto;
}
#itsthecavnescontainerbro .canves .noselect {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
#itsthecavnescontainerbro #preview-pane iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
  border: 0;
  overflow: auto;
  outline: 2px dashed #999;
}

/* Grid Layout */
#toolbox #vgrid {
  width: 90%;
  padding: 0;
  margin: 0;
}
#grid > div {
  display: inline-block;
  background: #ccc;
}
#grid .v {
  margin-left: 4px;
  width: 1px;
  height: 100%;
}
#grid .v:first-of-type {
  margin-left: 0;
}
#grid .h {
  margin-top: 4px;
  height: 1px;
  width: 100%;
}
#grid .h:first-of-type {
  margin-top: 0;
}

/* Right Click Menu For Editable Elements */
#custom-menu  {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
}
#custom-menu button {
  display: block;
  padding: 5px;
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: left;
  color: #333;
}
#custom-menu button:hover {
  background-color: #DDD;
  cursor: pointer;
  color: #000;
}
#custom-menu button > span {
  display: inline;
  position: absolute;
  right: 5px;
  text-align: right;
  color: rgb(102, 102, 102);
}

@media all and (max-width:800px) { 
  #toolbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    width: auto;
    height: auto;
    overflow: auto;
    z-index: 1;
  }
  
  #media-query-slider {
    position: absolute;
    top: auto;
    bottom: 35px;
    left: 0;
    z-index: 1;
  }
  #cwidth-containment {
    position: absolute;
    top: auto;
    bottom: 25px;
    left: 0;
    right: 0;
    z-index: 2;
  }
  #ruler-container {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    overflow: hidden;
  }

  #itsthecavnescontainerbro {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 30px;
  }
}
