html, body {
  padding: 0; margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width:0; height:0;
}
::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0.75);
  border:0; border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(221, 221, 221);
  border:0; border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border:0; border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Toolbox */
.disismyfukentoolbuxhhehahooo {
  position: absolute;
  top:0; right:0; bottom:0;
  width: 300px;
  background: #333;
  font: 300 16px/1.5 'museo-sans', 'Open Sans', sans-serif;
  color: #ccc;
  z-index:1;
}

.toggle-options {
  cursor: pointer;
  margin:0 0 10px 0;
  padding: 10px;
  border:0; outline:none;
  width: 100%; height: 36px;
  color: #ddd; background: #444;
  font: 14px Arial;
}
.toggle-options:hover {
  color: #ddd;
  background: #555;
}
.toggle-options:active {
  color: #ddd;
  background: #222;
}
.show-options {
  position: absolute;
  top:0; left:0; right:0;
  z-index:1; display:none;
}

.disismyfukentoolbuxhhehahooo label {
  position:relative;
  top: -2px;
}

/* Tool Icons */
.disismyfukentoolbuxhhehahooo .tools {
  color: #ddd;
  font: 15px Arial;
  padding: 10px 0;
  background: #111;
}
.disismyfukentoolbuxhhehahooo .tools a {
  cursor: pointer;
  margin: 0 5px;
  color: #ddd;
  font: 25px Arial;
  text-decoration:none;
  outline:none;
}
.disismyfukentoolbuxhhehahooo .tools a:hover { color: #fff; }
.disismyfukentoolbuxhhehahooo .tools a:active { color: #333; }

.disismyfukentoolbuxhhehahooo .left, .disismyfukentoolbuxhhehahooo .right {
  position: absolute;
  top:0;
}
.disismyfukentoolbuxhhehahooo .left { left:0; }
.disismyfukentoolbuxhhehahooo .center { margin-left:33.2%; }
.disismyfukentoolbuxhhehahooo .right { right:0; }
.disismyfukentoolbuxhhehahooo .fill { width: 100%; }
.disismyfukentoolbuxhhehahooo .half { width: 50%; }

.disismyfukentoolbuxhhehahooo .select-active, .disismyfukentoolbuxhhehahooo .remove-active, .disismyfukentoolbuxhhehahooo .drop-active { color: #35a0a0!important; }

/* Styles Inside Initatted Inspector & Groups Tabs */
.disismyfukentoolbuxhhehahooo .inspection {
  position: absolute;
  top:49px; left:0; right:0; bottom:0;
  overflow: auto;
}

.disismyfukentoolbuxhhehahooo .inspector {
  border-width: 0px 1px 0 0;
  border-color: transparent #333 transparent transparent;
}

.disismyfukentoolbuxhhehahooo .add-class {
  cursor:pointer;
  border:0; padding:2px; outline:none;
  background:transparent; color:#ccc;
}
.disismyfukentoolbuxhhehahooo .add-class:hover { color:#fff; outline:none; }
.disismyfukentoolbuxhhehahooo .add-class:active { color:#35a0a0; outline:none; }

.disismyfukentoolbuxhhehahooo .drop {
  cursor: pointer;
  padding: 0 5px;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
  background: #252525;
  color: #999;
  font: 14px times;
  text-transform: uppercase;
}

.disismyfukentoolbuxhhehahooo .drop-section, .disismyfukentoolbuxhhehahooo .section-display {
  padding: 5px;
  font: 14px arial;
}

.disismyfukentoolbuxhhehahooo input[type=text], .disismyfukentoolbuxhhehahooo input[type=text]:active, .drop-section input[type=text], .drop-section input[type=text]:active {
  outline: 0;
  background: #444;
  border-radius:0;
  border-style: solid;
  border-width: 1px;
  border-color: #1a1a1a #272729 #272729 #272729;
  font: 15px arial;
  -webkit-font-smoothing: antialiased;
  color: #ced;
}

.disismyfukentoolbuxhhehahooo input[type=text]:focus, .disismyfukentoolbuxhhehahooo .drop-section input[type=text]:focus {
  color: #ccc;
  background: #222;
  -webkit-font-smoothing: antialiased;
}

.disismyfukentoolbuxhhehahooo ::-webkit-input-placeholder { /* WebKit browsers */
    color: #888;
}
.disismyfukentoolbuxhhehahooo :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #888;
}
.disismyfukentoolbuxhhehahooo ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #888;
}
.disismyfukentoolbuxhhehahooo :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #888;
}

.disismyfukentoolbuxhhehahooo .search4urdamelms {
  width: 90%;
  margin: 4px 5px 5px 5px;
  text-align: center;
}

.disismyfukentoolbuxhhehahooo .starter-properties a, .disismyfukentoolbuxhhehahooo .select-properties a {
  padding: 5px 10px; outline:none;
  color: #a9a9a9;
  background: #444;
  text-decoration: none;
}

.disismyfukentoolbuxhhehahooo .solid, .disismyfukentoolbuxhhehahooo .dotted, .disismyfukentoolbuxhhehahooo .dashed, .disismyfukentoolbuxhhehahooo .double, .disismyfukentoolbuxhhehahooo .ridge, .disismyfukentoolbuxhhehahooo .groove, .disismyfukentoolbuxhhehahooo .inset, .disismyfukentoolbuxhhehahooo .outset {
  border-color: #a9a9a9;
  border-width: 3px;
  text-decoration:none;
}

.disismyfukentoolbuxhhehahooo .grab-border-color { cursor: pointer; border-color: #000; border-width: 2px; padding: 5px 10px; border-style: solid; background: #000; margin:0; }
.disismyfukentoolbuxhhehahooo .grab-txt-color { cursor: pointer; border-color: #000; border-width: 2px; padding: 3px 13px; border-style: solid; background: #000; margin:0; }
.disismyfukentoolbuxhhehahooo .none { border-color: #444; border-width: 2px; text-decoration:none; border-style: solid; background: #1c1c1c; }
.disismyfukentoolbuxhhehahooo .solid { border-style: solid; }
.disismyfukentoolbuxhhehahooo .dotted { border-style: dotted; }
.disismyfukentoolbuxhhehahooo .dashed { border-style: dashed; }
.disismyfukentoolbuxhhehahooo .double { border-style: double; }
.disismyfukentoolbuxhhehahooo .ridge { border-style: ridge; }
.disismyfukentoolbuxhhehahooo .groove { border-style: groove; }
.disismyfukentoolbuxhhehahooo .inset { border-style: inset; }
.disismyfukentoolbuxhhehahooo .outset { border-style: outset; }
.disismyfukentoolbuxhhehahooo .border-active { background-color: #1c1c1c!important; }
.disismyfukentoolbuxhhehahooo .hide { position:absolute!important; top:-99999999px!important; left:-99999999px!important; width:0!important; height:0!important; display:none!important; opacity:0!important; padding:0!important; margin:0!important; resize:none!important; }
.disismyfukentoolbuxhhehahooo .scroll { overflow:auto; }

.disismyfukentoolbuxhhehahooo .colorwheel {
  background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 18%, #00ff00 35%, #00ffff 50%, #0000ff 65%, #ff00ff 82%, #ff0004 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(18%,#ffff00), color-stop(35%,#00ff00), color-stop(50%,#00ffff), color-stop(65%,#0000ff), color-stop(82%,#ff00ff), color-stop(100%,#ff0004)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ff0000 0%,#ffff00 18%,#00ff00 35%,#00ffff 50%,#0000ff 65%,#ff00ff 82%,#ff0004 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ff0000 0%,#ffff00 18%,#00ff00 35%,#00ffff 50%,#0000ff 65%,#ff00ff 82%,#ff0004 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ff0000 0%,#ffff00 18%,#00ff00 35%,#00ffff 50%,#0000ff 65%,#ff00ff 82%,#ff0004 100%); /* IE10+ */
  background: linear-gradient(to right,  #ff0000 0%,#ffff00 18%,#00ff00 35%,#00ffff 50%,#0000ff 65%,#ff00ff 82%,#ff0004 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0004',GradientType=1 ); /* IE6-9 */
}

.disismyfukentoolbuxhhehahooo .cpick-s, .disismyfukentoolbuxhhehahooo .cpick-l, .disismyfukentoolbuxhhehahooo .cpick-a, .disismyfukentoolbuxhhehahooo .txt-cpick-s, .disismyfukentoolbuxhhehahooo .txt-cpick-l, .disismyfukentoolbuxhhehahooo .txt-cpick-a {
  background:transparent;
  margin:0;
}

.disismyfukentoolbuxhhehahooo .active-btn {
  color: #666;
  background-color: #1f1f21;
}

.disismyfukentoolbuxhhehahooo .horizontal-bar {
  display: inline-block;
  position: relative;
  padding: 5px 0 10px 0;
  top: -5px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.disismyfukentoolbuxhhehahooo .table-in input[type=text] {
  width: 100%;
}

/* Ruler & Slider */
.ruler-container {
  position: absolute;
  top:0; left:0; right: 300px;
  height: 24px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.ruler {
  width:100%; height:100%;
  background: #fed;
  color: #333;
  font-family: source code pro, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
  font-size: 12px;
  line-height: 14px;
}
.ruler > div {
  display: inline-block;
  background: #333;
}
.ruler .tickLabel {
  position:relative;
  top: -10px;
  margin-left: 4px;
  width: 1px;
  height: 100%;
  text-indent: 1px;
  line-height: 20px;
}
.ruler .tickLabel:first-of-type {
  margin-left: 0px;
}
.ruler .tickMajor {
  margin-top: 19px;
  margin-left: 4px;
  width: 1px; height: 6px;
}
.ruler .tickMinor {
  margin-left: 4px;
  width: 1px; height: 4px;
}

/* Resize Constructs */
.media-query-slider {
  display:none;
  position: absolute;
  top:30px; left:0;
  padding: 5px 15px;
  font: 14px arial;
  border-radius:100em;
  color: #fff; z-index: 1;
  background: #278ab4;
  text-align:center;
  line-height: 25px;
}

.cwidth-containment {
	position: absolute;
	top:0; left:0; right:300px;
	z-index:2;
}

.cwidth {
	position: absolute;
	top: -10px; left:0;
  padding:0; margin:0;
  width: 100%;
	background: transparent;
}

/* WYSIWYG Content Editor */
#idive-container, #inactive-menubtns {
  position: absolute;
  bottom:0; left:0; right:300px; height:25px;
  background:#272625; z-index:1;
  overflow: hidden;
}

#inactive-menubtns {
  position: absolute;
  left:0; width:100%; height:100%;
  z-index:2!important; opacity: .9;
}

#idive { height:50px; overflow-y: hidden; overflow-x: auto; white-space: nowrap; }
#idive a { margin: 0 5px; color:#ddd; font:15px Arial; text-decoration:none; }
#idive a:hover { color:#fff; }
#idive a:active { color:#111; }
#idive *:active, #idive *:focus { outline:none; }

/* Draggable Elements For Stage */
.disismyfukentoolbuxhhehahooo .elms-4-stage { text-align:center; }
.disismyfukentoolbuxhhehahooo .elms-4-stage * { cursor:pointer; }
.disismyfukentoolbuxhhehahooo .elms-4-stage a { display:block; background:transparent; }
.disismyfukentoolbuxhhehahooo .elms-4-stage .div { padding:5px; }
.disismyfukentoolbuxhhehahooo .elms-4-stage .header { background:#66d; }
.disismyfukentoolbuxhhehahooo .elms-4-stage .footer { background:#d66; }
.disismyfukentoolbuxhhehahooo .elms-4-stage .header, .disismyfukentoolbuxhhehahooo .elms-4-stage .footer {
  padding:5px;
  color:#fff;
}

/* Design Area */
.container {
  position: absolute;
  top:25px; left:0; right: 300px; bottom:25px;
  background: #aaa url(img/il-grid-trans.png) top left repeat;
}

.canves {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  overflow: auto;
}

.noselect {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
